h1{color:lightgoldenrodyellow;background:olivedrab;font-size:28px;font-weight:600;font-style:italic;}



.distritos{color:lightgoldenrodyellow;bakground:olivedrab;font-size:28px;font-weight:600;font-style:italic;}

.section1{color:maroon;background:olivedrab;font-size:25px;font-weight:400;font-style:italic;}

.section2{color:darkred;background:olivedrab;font-size:25px;font-weight:400;font-style:italic;}

.ruta-alhambra{color:darkred;background:sandybrown;font-size:20px;font-weight:300;font-style:normal;}

.ruta-albaicin{color:darkred;background:sandybrown;font-size:20px;font-weight:300;font-style:normal;}

.ruta-sacromonte{color:darkred;background:sandybrown;font-size:20px;font-weight:300;font-style:normal;}

p.nombre-autor{color:maroon;background:olive;}

.distrito{background:wheat;}
.rutas{background:tan;}

.principal{background:blanchedalmond;}

